@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mines {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:whitesmoke
}

.xmas {
    display: flex;
    justify-content: space-around;
    background-color: rgb(119, 1, 1);
    color:whitesmoke;
    font-family: 'Pacifico', cursive;
}

.left {
    width: 30vw;
}

.right {
    width: 70vw;
}


.button{
    background-color: rgb(117, 117, 117);
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border:rgb(4, 110, 4) 0.125em solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(4, 110, 4);
    padding:0.25 1em;
    border-radius: 0.25em;

    text-shadow: 
    0 0 0.125em rgba(255, 255, 255, 0.753),
    0 0 0.25em currentColor;

    box-shadow: inset 0 0 0.25em 0 rgb(20, 151, 0),
    0 0 1em 0 currentColor;
    ;
    position: relative;
}
.button::before{
    content:"";
    position: absolute;
    background:rgb(4, 110, 4);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    transform: perspective(4em)rotateX(40deg)scale(1,0.25);
    filter:blur(2em)

}

.popup {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display:block;
    background-color: rgba(126, 126, 126, 0.756);
    border: 1px solid white;
    color:white; 
}

.xmas .right .Tile-list .individual_tile {
   width: 22vh;
   height: 22vh;
   margin: 2px;
   padding: 0;  
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   background-color:rgb(3, 2, 73)      
}

button {
    background-color: rgb(2, 97, 2);
    padding: 2px 3px;
    border:rgb(0, 27, 0) solid 2px;
}

select {
    background-color: rgb(94, 133, 94);
}

.xmas .left button {
    background-color: rgb(9, 0, 94);
    color: white;
    padding: 2px 3px;
    border:rgb(0, 27, 0) solid 2px;
}

.xmas .left select {
    background-color: rgb(12, 2, 97);
    color: white;
}