.game-container {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:whitesmoke
}

.left {
    width: 20vw;
}

.right {
    width: 80vw;
}

.button{
    background-color: rgb(117, 117, 117);
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border:rgb(4, 110, 4) 0.125em solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(4, 110, 4);
    padding:0.25 1em;
    border-radius: 0.25em;

    text-shadow: 
    0 0 0.125em rgba(255, 255, 255, 0.753),
    0 0 0.25em currentColor;

    box-shadow: inset 0 0 0.25em 0 rgb(20, 151, 0),
    0 0 1em 0 currentColor;
    ;
    position: relative;
}
.button::before{
    content:"";
    position: absolute;
    background:rgb(4, 110, 4);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    transform: perspective(4em)rotateX(40deg)scale(1,0.25);
    filter:blur(2em)

}

.popup {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display:block;
    background-color: rgba(126, 126, 126, 0.756);
    border: 1px solid white;
    color:white; 
}

