.high-scores-list{
    margin:0;
    padding:0;
    border-color: green;
    background-color: black;
    height:100vh;
    width:100%;
    justify-content: center;

}
.high-scores-list ol{
    /* justify-content: center; */
    margin:0;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.high-scores-list ol li{
    position:relative;
    /* margin-left:40vh; */
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.455) ;
    color: black;
    height:20vh;
    width:50vh;
    border:2px solid aqua;
    border-color: aqua;
    border-radius: 10px;
    filter:drop-shadow(0px 0px 10px rgb(245, 245, 245))
    drop-shadow(0px 0px 8px rgb(2, 118, 2));
    list-style-type: none;
    font-family: fantasy;
}

.high-scores-list ol li:first-child{
    animation:highest-score 1s infinite alternate;

}

@keyframes highest-score {
    0%{
        filter:drop-shadow(0px 0px 5px rgb(42, 42, 251))
        drop-shadow(0px 0px 10px rgb(26, 213, 242))
        drop-shadow(0px 0px 20px rgb(78, 78, 159))
        drop-shadow(0px 0px 30px rgb(4, 4, 69))

    }
    50%{
        filter:drop-shadow(0px 0px 5px rgb(235, 24, 24))
        drop-shadow(0px 0px 10px rgb(225, 16, 16))
        drop-shadow(0px 0px 20px rgb(158, 27, 27))
        drop-shadow(0px 0px 30px rgb(69, 4, 4))

    }
    100%{
        filter:drop-shadow(0px 0px 5px rgb(33, 246, 47))
        drop-shadow(0px 0px 10px rgb(20, 167, 4))
        drop-shadow(0px 0px 20px rgb(78, 159, 81))
        drop-shadow(0px 0px 30px rgb(4, 50, 2))

    }
    
}


.high-scores-list ol li p{
    position: relative;
    top:-3vh;
    align-items: center;
    text-align: center;
    font-size: 60px;
}