.title-bar {
    padding:0;
     margin:0;
     background-color: rgb(117, 117, 117);
    
}
.title-bar>svg{
    width:100%;
    stroke:#fff;
    top:20%;
    left:50%;
    animation-name:animate;
    animation-duration: 1.5s;
    animation-direction:alternate;
    animation-iteration-count: infinite;


}

@keyframes animate{
    0%{
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 5px rgb(58, 110, 75)
        drop-shadow(0px 0px 10px rgb(25, 107, 52))
        drop-shadow(0px 0px 20px rgb(13, 109, 45)))
        drop-shadow(0px 0px 30px rgb(0, 110, 37))

    }
    100%{
        filter: drop-shadow(0px 0px 5px #fff)
        drop-shadow(0px 0px 10px rgb(58, 110, 75))
        drop-shadow(0px 0px 20px rgb(25, 107, 52))
        drop-shadow(0px 0px 30px rgb(13, 109, 45))
        drop-shadow(0px 0px 40px rgb(0, 110, 37))
    }


}

/* border-bottom: 1px solid black;
    font-size: 115%;
    background-color: rgb(41, 40, 40);
    text-align: center;
    color: whitesmoke;
    align-items: center;
    border-radius: 10px;
    text-shadow: 0 0 0.25em currentColor;
    filter: blur(0.05em)
     */
