.list-item {
    display: flex;
    flex-flow: column nowrap;  
}
.rank {
    width:49.9%;
    padding-right: 50%;
    font-size: 20px;
}

.score {
    padding-left: 50%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
}
