.individual_tile {
   /* background-color: aquamarine; */
   width: 22vh;
   height: 22vh;
   margin: 2px;
   padding: 0;  
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   pointer-events:hidden;
   animation: background;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-direction: alternative;
   background-color:rgb(1, 49, 1)      }
/* 
@keyframes background {
    0% {
        background: #292929;
      }
      25% {
        background: #025c2a;
      }
      50% {
        background: #000002;
      }
      75% {
        background: #025c2a;
      }
      100% {
        background: #3a3a3a;
      }

    } */
/* .individual_tile:hover{
    visibility: hidden;
    background-color: aquamarine;
} */
.toolTipText{
    position:relative;

}
.tile{
    /* pointer-events: none; */
}

/* .individual_tile:hover {
    set
} */

.gem-image {
    width: 12.5vh;
    height: 12.5vh;
}

.bomb-image {
    width: 17vh;
    height: 17vh;
}
